.navbar {
	width: 100%;
	height: 70px;
	/* background-color: #3bb19b; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
#navbar
{
    display:flex;
    align-items: center;
    position:absolute;
    width: 100%;
    /* height: 100%; */
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    z-index: -1;
    /* align-items: top; */
    opacity: 4.4;
}
/* Navigation bar: Logo and image styling  */
#logo{
    margin: 2px;
    /* border: 2px solid red; */

}
#logo img{
    width:150px;
    height:90px;
    margin: 2px 3px;
    padding: 5px;
    align-items: center;
}
/* Navigation bar: List styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    font-size: 1rem;
    list-style: none;

}
#navbar ul li a{
    color: white;
    /* border: 1px solid brown; */
    /* background-color:brown; */
    font-weight:bold;
    display: block;/* display block because by defalut it is inline and we have to give padding in anker tag */
    padding: 20px;
    margin: 20px;
    border-radius: 20px 0px 20px 0px ;
    text-decoration: none; /* to remove under line */  
    font-family: 'Akaya Telivigala', 'cursive';
    /* font-family: 'Bree Serif', serif; */
}
#navbar ul li a:hover{
    color: brown;
    background-color:white;
}
 #navbar ul li a:active{
    /* color: brown; */
    border: 2px solid black;
} 


/* HOME SECTION STYLING */
#home{
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    justify-content: center;
    align-items: center;
    height: 900px;
    font-family: 'Bree Serif', serif;

}
#home::before{
    content: "";
    background:url('bg_1.jpg') no-repeat top center/cover;
    filter: blur(1px);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 960px;
    width: 100%;
    z-index: -1;
    opacity: 0.60;
}
#home H1{
    color: brown;
    text-align: center;
}
#home p{
    color: brown;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    font-weight: bold;
}
/* SERVICES SECTION */
.servicescontainer{
    background:url('bg_wood2.jpg') no-repeat top center/cover;
    /* filter: blur(1px); */
    position: relative;
    
    height: 900px;
    width: 100%;
    z-index: -1;
    /* opacity: 0.60; */
}
#services{
    margin: 50px;
    display: flex;
    height: 600px;
}
#services .box{
    color: brown;
    border: 2px solid brown;
    padding: 20px;
    margin: 5px;
    border-radius: 23px;
    background-color:rgb(240, 236, 236);
    /* width: 200px; */
    margin-left: 130px;
    /* margin-right: 70px; */
}
#services .box img{
    height: 250px;
    margin: auto;/* work only when display is block and either height or width is given*/
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    font-size: 0.8rem;
    justify-content: left;
    align-items: left;
    
}
/* client section */
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#client-section::before{
    content:"";
    position: absolute;
    background: url("bg_5.jpg") no-repeat bottom center/cover;
    width: 100%;
    height: 685px;
    z-index: -1;
    opacity: 0.6;
}
.client-item{
    padding: 30px;
}
.clients img{
    width: 300px;
    height: 300px;
    padding: 30px;

}
/* .clients #skype{
    width:200px;
    height: 100px;
} */
/* contact section */
.contact{
    position:relative;
    height: 900px;

}
.contact::before{
    content:"";
    position: absolute;
    background: url(contact\ _us.jpg) no-repeat center center/cover;
    width: 100%;
    height: 900px;
    z-index: -1;
    opacity: 0.7;
}
#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    color: black;
    font-weight: bold;
}
#contactbox input,textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px 0px 20px 0px ;
    background: gray;
    border: white;
}
#contactbox ::placeholder{
    font-family: 'Bree Serif', serif;
    color: white;
}
#contactbtn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: gray;
    color: white;
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 20px 0px 20px 0px ;
    cursor: pointer;
}
#contactbtn:hover{
    color: gray;
    background-color: white;
}
#contactbtn:hover{
    border: 2px solid black;
}
#contactbox form{
    width: 40%;
    font-family: 'Bree Serif', serif;

    font-size: 1.2rem;
}
/* Footer section */
footer{
    background: rgb(124, 123, 123);
    color: white;
    padding: 20px;
}
/* utility classes */
.hprimary{
    font-size: 2.4rem;
    font-family: 'Bree Serif', serif;
    padding: 20px;
    color: white;
    align-items: center;
}
.hsecondary{
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    padding: 19px;   
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 20px 0px 20px 0px ;
    cursor: pointer;
}
.btn:hover{
    color: brown;
    background-color: white;
    border:2px solid brown;
}
.btn:active{
    border: 2px solid black;
}
.center{
    text-align: center;
}
